* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    --header-bg: #10375c;
    --footer-bg: #10375c;
    --title-color: #10375c;
    --desc-color: #575f66;
    --btn-bg: #2e80ce;
    --btn-font-color: #fff;
}
body {
    font-family: "Sora", sans-serif;
    font-size: 16px;
}
/* =============Common============= */
a {
    text-decoration: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.desc-style {
    color: var(--desc-color);
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}
.btn {
    display: inline-block;
    border-radius: 30px;
    background: var(--btn-bg);
    color: var(--btn-font-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    text-align: center;
}
.title-style {
    color: var(--title-color);
    font-family: Sora;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

/* =============Header============= */
.header {
    --desc-color: #c9d2da;
    min-height: 100vh;
    background: var(--header-bg);
    padding-bottom: 110px;
}
/* =============Navigation============= */
.header__header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.header__header-top a {
    color: var(--desc-color);
}
.nav {
}
.nav__list {
    display: flex;
}
.nav__list--item {
    display: flex;
    align-items: center;
}
.nav__list--item a {
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.nav__list--item a:hover {
    color: #fff;
    text-shadow: 0.5px 0 0 currentColor;
}

.nav__list--item.list__active {
    position: relative;
}
.nav__list--item.list__active::before {
    position: absolute;
    content: "";
    display: inline-block;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
.nav__list--item.list__active a {
    color: #fff;
    text-shadow: 0.5px 0 0 currentColor;
}
.header-top__action--sign-up {
    margin-left: 28px;
    padding: 8px 20px;
    font-size: 1.6rem;
    line-height: 1.75;
    border-radius: 22px;
    min-width: 104px;
}

.header-top__action--log-in:hover,
.btn:hover {
    opacity: 0.9;
}
/* =============Hero============= */
.header__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 76px;
}
.header__hero--block-text {
    width: 44%;
}
.header__hero--title {
    margin-bottom: 22px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}
.header__hero--desc {
    margin-bottom: 38px;
    color: #c9d2da;
}
.header__hero--cta.btn {
    padding: 15px 46px;
    min-width: 205px;
}
.header__hero--cta.call {
    color: #fff;
    margin-left: 38px;
    font-weight: 400;
}
.header__hero--block-img {
    display: flex;
    align-items: center;
    width: 46%;
}
.header__hero--img-left {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}
.header__hero--img-right {
    width: 210px;
    height: 410px;
    margin-left: -6px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
}
/* =============Services============= */
.services {
    padding: 170px 0;
}
.services__title-desc {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.services__title-desc--desc {
}
